<?xml version="1.0" encoding="UTF-8"?>
<beans 
	default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
		
	
		<!-- 引入spring注解支持 -->
	<context:annotation-config></context:annotation-config>
	<!-- 组件扫描的范围 -->
	<context:component-scan base-package="com.dzt"></context:component-scan>
	<!-- 这里，需要引入properties文件的内容  存放数据库配置的一些信息 -->
		<context:property-placeholder location="classpath:myconn.properties" />


<!-- 数据源 -->
	<!-- 阿里 druid数据库连接池 -->
   <!--  <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
        init-method="init" destroy-method="close">
        基本属性 url、user、password
        <property name="url" value="${myconn.url}" />
        <property name="username" value="${myconn.user}" />
        <property name="password" value="" />
        <property name="driverClassName" value="${myconn.driver}" />
    </bean> -->
		<!-- 数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${myconn.driver}"></property>
		<property name="url" value="${myconn.url}" ></property>
		<property name="username" value="${myconn.user}" ></property>
		<property name="password" value="" ></property>
	</bean>
	
	<!-- 连接工厂 -->
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" >
		<property name="dataSource" ref="dataSource" ></property>
		<property name="configLocation" value="classpath:mybatis_cfg.xml"></property>
	</bean>


	
	<!-- 视图处理器 -->
	<bean id="irvr" class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="prefix" value="/" ></property>
		<property name="suffix" value=".jsp" ></property>
	</bean>
	
		
</beans>










